.movies-card {
    width: 270px;
    min-height: 218px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.movies-card__img {
    width: 270px;
    height: 150px;
    border-radius: 10px 10px 0 0
}

.movies-card__img_click {
    height: 150px;
    cursor: pointer;
    border: none;
    border-radius: 10px 10px 0px 0px;
    padding: 0;
}

.movies-card__info {
    display: grid;
    grid-template-columns: 230px 16px;
    padding: 14px 12px;
}

.movies-card__title {
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movies-card__button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.movies-card__time {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 0 0;
    font-size: 11px;
    font-weight: 400;
    color: #A0A0A0;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .movies-card {
        width: 339px;
        min-height: 257px;
    }

    .movies-card__info {
        grid-template-columns: 299px 16px;
    }

    .movies-card__img {
        width: 339px;
        height: 190px;
    }

    .movies-card__img_click {
        width: 339px;
        height: 190px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .movies-card {
        width: 300px;
        min-height: 225px;
    }

    .movies-card__img {
        width: 300px;
        height: 168px;
    }

    .movies-card__img_click {
        width: 300px;
        height: 168px;
    }

    .movies-card__info {
        grid-template-columns: 260px 16px;
    }
}