.aboutMe {
    margin: 110px 70px 100px 70px;
}

.aboutMe__title {
    margin: 0;
    padding-bottom: 23px;
    text-align: left;
    width: 100%;
    align-self: flex-start;
    border-bottom: 1px solid;
    font-size: 22px;
    font-weight: 400;
}

.aboutMe__content {
    display: grid;
    grid-template-columns: 48% 52%;
    margin: 66px 0 0 0;
}

.aboutMe__info {
    text-align: left;
}

.aboutMe__info_name {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

.aboutMe__info_who {
    margin: 18px 0 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.aboutMe__info_bio {
    max-width: 600px;
    max-height: 88px;
    margin: 26px 0 99px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-feature-settings: 'clig' off, 'liga' off;
}

.aboutMe__git {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.aboutMe__photo {
    width: 270px;
    height: 327px;
    justify-self: end;
    border-radius: 10px;
}

.aboutMe__portfolio_title {
    margin-top: 101px;
    text-align: left;
    color: #A0A0A0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.aboutMe__portfolio {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
}

.aboutMe__links {
    display: flex;
    justify-content: space-between;
    text-decoration: double;
    margin: 20px 0;
}

.aboutMe__portfolio_var {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.aboutMe__portfolio_sign {
    height: 20px;
    width: 20px;
    align-self: flex-end;
    align-self: center;
}

@media (min-width: 768px) and (max-width:1279px) {
    .aboutMe {
        margin: 90px 50px;
    }

    .aboutMe__info_name {
        font-size: 40px;
        letter-spacing: -1.6px;
        line-height: 40px;
    }

    .aboutMe__info_who {
        font-size: 12px;
        line-height: 18px;
        margin-top: 16px;
    }

    .aboutMe__info_bio {
        font-size: 12px;
        line-height: 18px;
        margin: 20px 0 95px 0;
    }

    .aboutMe__photo {
        width: 255px;
        height: 307px;
    }

    .aboutMe__portfolio_title {
        margin-top: 90px;
    }

    .aboutMe__portfolio_var {
        font-size: 28px;
    }
}

@media (min-width: 320px) and (max-width:677px) {
    .aboutMe {
        margin: 70px 14px 30px 14px;
    }

    .aboutMe__title {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .aboutMe__content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60px;
    }

    .aboutMe__info_name {
        margin-top: 35px;
        font-size: 30px;
        letter-spacing: -1.2px;
    }

    .aboutMe__info_who {
        font-size: 11px;
        line-height: 16px;
        margin-top: 10px;
    }

    .aboutMe__info_bio {
        max-height: 122px;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .aboutMe__portfolio_title {
        margin-top: 70px;
        font-size: 14px;
        line-height: 20px;
    }

    .aboutMe__portfolio {
        margin-top: 40px;
    }

    .aboutMe__links {
        margin: 0;
        margin-bottom: 15px;
    }

    .aboutMe__portfolio_var {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .aboutMe__photo {
        height: 352px;
        width: 292px;
        align-self: center;
    }
}